@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* layout */
  :root {
    --layout-max-w: 520px;
    --layout-min-h: 100vh;
  }
  .layout {
    @apply max-w-[var(--layout-max-w)] min-h-[var(--layout-min-h)] w-full mx-auto;
  }
  body {
    @apply font-sans;
  }
}

@font-face {
  font-family: InsungIt;
  font-weight: 400;
  src: local('InsungIt Regular'), url('../assets/fonts/Insungit/insungit-Cutelively-jisu-Regular.ttf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 100;
  src:
    local('Pretendard Thin'),
    url('../assets/fonts/Pretendard/Pretendard-Thin.woff') format('woff'),
    url('../assets/fonts/Pretendard/Pretendard-Thin.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 200;
  src:
    local('Pretendard ExtraLight'),
    url('../assets/fonts/Pretendard/Pretendard-ExtraLight.woff') format('woff'),
    url('../assets/fonts/Pretendard/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  src:
    local('Pretendard Light'),
    url('../assets/fonts/Pretendard/Pretendard-Light.woff') format('woff'),
    url('../assets/fonts/Pretendard/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src:
    local('Pretendard Regular'),
    url('../assets/fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
    url('../assets/fonts/Pretendard/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src:
    local('Pretendard Medium'),
    url('../assets/fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
    url('../assets/fonts/Pretendard/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  src:
    local('Pretendard SemiBold'),
    url('../assets/fonts/Pretendard/Pretendard-SemiBold.woff') format('woff'),
    url('../assets/fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src:
    local('Pretendard Bold'),
    url('../assets/fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
    url('../assets/fonts/Pretendard/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  src:
    local('Pretendard ExtraBold'),
    url('../assets/fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff'),
    url('../assets/fonts/Pretendard/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 900;
  src:
    local('Pretendard Black'),
    url('../assets/fonts/Pretendard/Pretendard-Black.woff') format('woff'),
    url('../assets/fonts/Pretendard/Pretendard-Black.woff2') format('woff2');
}
